<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin interface</title>
    <link th:href="@{css/recruitment.css}" type="text/css" rel="stylesheet" />
</head>
<body>
    <main layout:fragment="content">
        <section>
            <h1 th:text="#{admin-title}"></h1>
            <p th:text="#{admin-to-be-continued}"></p>

            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
            <br>
        </section>
    </main>
</body>
</html>
