<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Applicant interface</title>

 <!--   <link th:href="@{css/recruitment.css}" type="text/css" rel="stylesheet" /> -->
    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>

</head>
<body>

<main layout:fragment="content">
    <section>
<div align="center">

        <h1 th:text="#{application-title}"></h1>
        <h2>Applicant interface</h2>
        <p th:text="#{application-info}"></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" th:value="#{logout}"/>
    </form>
</div>
        <br>
    </section>
</main>
</body>
</html>
