<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Recruitment</title>
    <link th:href="@{css/recruitment.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<main layout:fragment="content">
    <section>
        <h1>Create Account</h1>
        <p1>Enter account details.</p1>
        <form th:action="@{/create-account}" th:object="${createAccountForm}" method="post">
            <p>
                <label for="create-first-name">First name</label>:
                <input type="text" th:field="*{firstName}" id="create-first-name">
                <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    First Name Error
                </span>
            </p>
            <p>
                <label for="create-last-name">Last name</label>:
                <input type="text" th:field="*{lastName}" id="create-last-name">
                <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                    Last Name Error
                </span>
            </p>
            <p>
                <label for="create-date-of-birth">Date of birth</label>:
                <input type="text" th:field="*{dateOfBirth}" id="create-date-of-birth" placeholder="YYMMDD">
                <span class="error" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">
                    Date of Birth Error
                </span>
            </p>
            <p>
                <label for="create-email">Email</label>:
                <input type="text" th:field="*{email}" id="create-email">
                <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    Email Error
                </span>
            </p>
            <p>
                <label for="create-username">Username</label>:
                <input type="text" th:field="*{username}" id="create-username">
                <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                    Username Error
                </span>
            </p>
            <p>
                <label for="create-password">Password</label>:
                <input type="text" th:field="*{password}" id="create-password">
                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Password Error
                </span>
            </p>
            <p class="submit">
                <input type="submit" value="Create Account"/>
            </p>
        </form>

        <br>
        <form method="GET" th:action="@{/login}">
            <p>... or log in to existing account</p>
            <p class="submit">
                <input type="submit" value="Log in" >
            </p>
        </form>


    </section>
</main>
</body>
</html>
