<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="content">
    <section>
        <h1>Create Account</h1>
        <p>Enter account details.</p>
        <form th:action="@{create-account}" th:object="${createAccountForm}" method="post">
            <p>
                <label for="first-name">First name</label>:
                <input type="text" th:field="*{firstName}" id="first-name">
                <span class="error">Name Error</span>
            </p>
            <p>
                <label for="last-name">Last name</label>:
                <input type="text" th:field="*{lastName}" id="last-name">
                <span class="error">Name Error</span>
            </p>
            <p>
                <label for="date-of-birth">Date of Birth</label>:
                <input type="text" th:field="*{dateOfBirth}" id="date-of-birth">
                <span class="error">Name Error</span>
            </p>
            <p>
                <label for="email">Email</label>:
                <input type="text" th:field="*{email}" id="email">
                <span class="error">Name Error</span>
            </p>
            <p>
                <label for="password">Password</label>:
                <input type="text" th:field="*{password}" id="password">
                <span class="error">Name Error</span>
            </p>
            <p class="submit">
                <input type="submit" value="Create Account"/>
            </p>
        </form>
    </section>
</main>
</body>
</html>