<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<main layout:fragment="content">
    <section>
        <h1>Log in</h1>
        <p1>If already have an account, log in</p1>
        <form th:action="@{/login}" th:object="${loginForm}" method="post">
            <p>
                <label for="username">Username</label>:
                <input type="text" th:field="*{username}" id="username">
                <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                    Username error
                </span>
            </p>
            <p>
                <label for="password">Password</label>:
                <input type="text" th:field="*{password}" id="password">
                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Password error
                </span>
            </p>
            <p class="submit">
                <input type="submit" value="Login"/>
            </p>
        </form>
    </section>
</main>
</body>
</html>