
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Applicants</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of applicants</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>

    <tr th:each="applicant : ${applicants}">
        <td th:text="${applicant.personId}">Id</td>
        <td th:text="${applicant.firstName}">Name</td>
        <td th:text="${applicant.lastName}">Surname</td>
    </tr>
</table>

</body>
</html>