<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Recruitment</title>
    <link th:href="@{css/recruitment.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<main layout:fragment="content">
    <section>
        <h1>Update Existing Account</h1>
        <p1>Enter missing account details.</p1>

        <form action="#" th:action="@{/update}" th:object="${person}" method="post">

<p>
            <label>First Name</label>
            <input type="text" th:field="*{firstName}" >
</p>
            <p>
            <label>Last Name</label>
            <input type="text" th:field="*{lastName}" >
            </p>
            <p>
            <label>SSN</label>
            <input type="text" th:field="*{dateOfBirth}" >
            </p>
            <p>
            <label>Username</label>
            <input type="text" th:field="*{username}" >
            </p>
            <p></p>
            <label>Password</label>
            <input type="text" th:field="*{password}" >
            </p>
            <p>
            <label>Email</label>
            <input type="text" th:field="*{emailAddress}" >
            </p>
            <br>
            <button type="submit">Update</button>

        </form>
    </section>
</main>
</body>
</html>