
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Recruitment</title>
 <!--   <link th:href="@{css/recruitment.css}" type="text/css" rel="stylesheet" />-->
</head>
<body>
<main layout:fragment="content">
    <section>
        <h1 th:text="#{update-account}"></h1>
        <p1 th:text="#{update-missing-details}"></p1>
        <form action="#" th:action="@{/update}" method="post" th:object="${updateAccountForm}">
            <input type="hidden" th:field="*{personId}" />
            <p>
                <label th:text="#{first-name}"></label>:
                <input type="text" th:field="*{firstName}">
                <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    First Name Error
                </span>
            </p>
            <p>
                <label th:text="#{last-name}"></label>:
                <input type="text" th:field="*{lastName}">
                <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                    Last Name Error
                </span>
            </p>
            <p>
                <label th:text="#{date-of-birth}"></label>:
                <input type="text" th:field="*{dateOfBirth}" placeholder="YYMMDDXXXX">
                <span class="error" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">
                    Date of Birth Error
                </span>
            </p>
            <p>
                <label th:text="#{email}"></label>:
                <input type="text" th:field="*{email}">
                <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    Email Error
                </span>
            </p>
            <p>
                <label th:text="#{username}"></label>:
                <input type="text" th:field="*{username}">
                <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                    Username Error
                </span>
            </p>
            <p>
                <label th:text="#{password}"></label>:
                <input type="text" th:field="*{password}" >
                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Password Error
                </span>
            </p>
            <p class="submit">
                <input type="submit" th:value="#{update}"/>
            </p>
        </form>

    </section>
</main>
</body>
</html>
