
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Recruitment</title>
    <link th:href="@{css/recruitment.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<main layout:fragment="content">
    <section>
        <h1>Update Existing Account</h1>
        <p1>Enter missing account details.</p1>
        <form action="#" th:action="@{/update}" method="post" th:object="${updateAccountForm}">
            <p>
                <label>First name</label>:
                <input type="text" th:field="*{firstName}">
                <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    First Name Error
                </span>
            </p>
            <p>
                <label>Last name</label>:
                <input type="text" th:field="*{lastName}">
                <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                    Last Name Error
                </span>
            </p>
            <p>
                <label>Date of birth</label>:
                <input type="text" th:field="*{dateOfBirth}" placeholder="YYMMDDXXXX">
                <span class="error" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">
                    Date of Birth Error
                </span>
            </p>
            <p>
                <label>Email</label>:
                <input type="text" th:field="*{email}">
                <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    Email Error
                </span>
            </p>
            <p>
                <label>Username</label>:
                <input type="text" th:field="*{username}">
                <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                    Username Error
                </span>
            </p>
            <p>
                <label>Password</label>:
                <input type="text" th:field="*{password}" >
                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Password Error
                </span>
            </p>
                <button type="submit">Update</button>
        </form>

    </section>
</main>
</body>
</html>
